body{
    font-family: Roboto;
}
.logo{
    padding: 5px;
    width: 150px;
}
.dropdown-toggle::after {
    display:none;
}
.image-size{
    width: 45px;
}
.image-size1{
    width: 35px;
}
a{
    text-decoration: none;
    color: #000000;
}
.dash{
    background-color: #FAFAFA;
}
.white{
    background-color: white;
}
.white-box{
    width: 230px;

}
.dash-image-size{
    width: 45px;
}
.graph{
    
}
.icon-box{
    width: 230px;
    height: 100px;
}
.menubar{
    position: relative;
}
.dashboard{
    position: relative;
}

ul{
    list-style-type: none ;
}

.logo{
    width: 50px;
  }
@media only screen and (min-width: 650px) {
    #logo {
      width: 120px;
      height: 50px;
    }
  }

  @media only screen and (max-width: 650px) {
    #logo {
      width: 40px;
      height: 40px;
    }
  }
  

ul{
    list-style-type: none ;
}


@media only screen and (max-width: 650px) {
  .remove{
    display: none;
  }
}

@media only screen and (max-width: 650px){
  #search{
    display: none;
  }
  
}

