.logo{
    padding: 5px;
    width: 150px;
}
.image-size{
    width: 45px;
}
.image-size1{
    width: 35px;
}
a{
    text-decoration: none;
    color: #000000;
}
.dash{
    background-color: #FAFAFA;
}
.white{
    background-color: white;
}
.dash-image-size{
    width: 45px;
}
.graph{
    
}